.square{
    width: 12.5%; 
    height: 100%;
    display: inline-block; 
}

img{
    height: 100%;
}

.lightSquare{
    background-color: rgb(190, 224, 166);
}

.darkSquare{
    background-color: rgba(14, 173, 99, 0.616);
}
